
* {
  margin: 0;
  padding: 0;
}
header,
nav,
main
{
  border: 1px solid black;
}
header {
  width: 100%;
  height: 40px;
}
.text-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}
main{
    width: 100%;
    height: 700px;
    padding: 10px;
}
aside{
  width: 25%;
  height: 700px;
  border-right: 1px solid black;
  float: left;
}